tbo-kruskal/3.txt
tbo-kruskal/a.txt
tbo-kruskal/file.o
tbo-kruskal/kruskal.o
tbo-kruskal/list.o
tbo-kruskal/main.o
tbo-kruskal/out2.txt
tbo-kruskal/out/resposta3.txt
tbo-kruskal/teste
tbo-kruskal/trab1
tbo-kruskal/teste
tbo-kruskal/point.o
tbo-kruskal/teste
tbo-kruskal/teste
